<a href="https://colab.research.google.com/github/durgesh2010/Assignments-/blob/main/Durgesh_For_loop_practice_collab_of_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 13 Sept

In [ ]:
#1 print list in reverse order using for loop 
list1 = [1,2,3,4,'my_code']
for i in range(1,len(list1)):
  print(list1[-i])

my_code
4
3
2

In [ ]:
#2 For loop -10 to 1 code 
for num in range(-10, -0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#3 Python program to display all the prime numbers within an interval

lower = 0
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 0 and 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
num = int(input())
factorial = 1

#4 Find the factorial of a number
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

8
The factorial of 8 is 40320

In [ ]:
#5 Reverse the given integer
i_string = input('input : ')
print(f'output : {i_string[::-1]}')

input : 456789
output : 987654

In [ ]:
#6 Use a loop to display elements from a given list present at odd index position 
odd = [0,1,2,3,4,5,6,7,8,9,10]
for i in range(len(odd)):
  if i%2 != 0:
    print(odd[i])

1
3
5
7
9

In [ ]:
#7 calculate the cube of all numbers from  1 to given range 
cubes = int(input())
for i in range(cubes):
  print(f'cube of {i} is {i**3}')

8
cube of 0 is 0
cube of 1 is 1
cube of 2 is 8
cube of 3 is 27
cube of 4 is 64
cube of 5 is 125
cube of 6 is 216
cube of 7 is 343

In [ ]:
#8 Find the sum of the series upto n terms (n = 5)
n = int(input())
sum = 0
for i in range(n):
  sum = sum + i
print(f'total sum is {sum}')

10
total sum is 45

In [ ]:
# Q.9
# *                  # Print this pattern
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
rows =  10
for i in range(0,rows):
  for j in range(0,i):
    print("* ",end='')
  print("9")

In [ ]:
rows = 10 
for v in range(0,rows):
  for j in range(0,v):
    print("* ",end='')
  print("")      
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end="*")  
    k = k - 2   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print(" ", end="")  # printing star  
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
******************
****************
**************
************
**********
********
******
****
**

In [ ]:
# 10 Convert two lists into a dictionary
list1 = ['india','australia','usa']
list2 = ['delhi','canberra','washinton']
dict1 = dict(zip(list1,list2))
print(dict1)

{'india': 'delhi', 'australia': 'canberra', 'usa': 'washinton'}

In [ ]:
#11 Merge two Python dictionaries into one
# Python code to merge dict using update() method
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict2.update(dict1)


# changes made in dict2
print(dict2)

{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
# 12-Create a dictionary by extracting the keys from a given dictionary
dict2 = {1:'one',2:'two',3:'three',4:'four'}
dict2.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
#13 Remove and add item in a list
list2 = [1,2,3,4,5,6,7,8,9,'mystring',True]
list2.append('durgesh')
list2.remove(9)
list2

[1, 2, 3, 4, 5, 6, 7, 8, 'mystring', True, 'durgesh']

In [ ]:
# 14-Unpack the tuple into 4 variables
ntuple = ('apple','samsung','nokia','motorola')
for i in ntuple:
  print(i)

apple
samsung
nokia
motorola

In [ ]:
# 15-Swap two tuples in Python
a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
print ("a=",a, "b=",b)
(a,b)=(b,a)
print("a=",a, "b=",b)

Enter the first number :20
Enter the second number :30
a= 20 b= 30
a= 30 b= 20

In [ ]:
# 16-Copy specific elements from one tuple to a new tuple
ntuple = ('apple','samsung','nokia','motorola')
new_tuple = (ntuple[0])
new_tuple

'apple'

In [ ]:
# 17-Sort a tuple of tuples by 2nd item

In [ ]:
# 18-Counts the number of occurrences of item 50 from a tuple

tuple2 = (1,2,2,33,3,4,4,4,5,5,6,7,7,8,9,22,13,)
x = int(input())
count = 0
for i in tuple2:
  if (i == x):
    count = count + 1
print(f'counnt of {x} is {count}')

22
counnt of 22 is 1

In [ ]:
###### ####### identical
# 19-Return a new set of identical items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [ ]:
# 20-Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
# 21-Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [ ]:
# 22-Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

In [ ]:
# 23-Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [ ]:
# 24-Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

In [ ]:
# 25-Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [ ]:
# 26-Turn every item of a list into its square

square = int(input())
for i in range(square):
  print(f'square of {i} is {i**2}')

5
square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16

In [ ]:
# 27-Iterate both lists simultaneously ( Any list we can make and run those together)

list1 = [1,2,3,4,5,6,7,8]
list2 = ['one','two','three','four','five','six','seven','eight']
for i,j in zip(list1,list2):
  print(i,j)

1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eight

In [ ]:
# 28-Remove empty strings from the list of strings
test_list = ["", "thor", "", "ironman", "best", "","sunnypaji"]
nlist = []
for new in test_list:
  if new != "":
    nlist.append(new)
print(nlist)

['thor', 'ironman', 'best', 'sunnypaji']

In [ ]:
# 29 Print the sum of the current number and the previous number
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number is", i, "Previous Number ", previous_num, " Sum: ", previous_num + i)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

In [ ]:
# 1-Print list in reverse order using a loop
# 2-Display numbers from -10 to -1 using for loop
# 3-Write a program to display all prime numbers within a range ( divisible by 1 and the number itself) 5
# 4-Find the factorial of a given number, n, n-1, n-2, n-3 ( n = 10*9*8*7*6....1)
          # n = 5
          #   output = n * (n-1)
          #           5 * 4 * 3 * 2 * 1
# 5- Reverse a given integer number ( n = 45736382 )
# 6-Use a loop to display elements from a given list present at odd index positions
# 7-Calculate the cube of all numbers from 1 to a given number (n = 10)
# 8-Find the sum of the series upto n terms (n = 5)
# 9-
# *                  # Print this pattern
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
# 10 - Convert two lists into a dictionary
# 11-Merge two Python dictionaries into one
# 12-Create a dictionary by extracting the keys from a given dictionary
# 13-Remove and add item in a list
# 14-Unpack the tuple into 4 variables
# 15-Swap two tuples in Python
# 16-Copy specific elements from one tuple to a new tuple
# 17-Sort a tuple of tuples by 2nd item
# 18-Counts the number of occurrences of item 50 from a tuple
# 19-Return a new set of identical items from two sets
#  20-Get Only unique items from two sets
# 21-Update the first set with items that don’t exist in the second set
# 22-Remove items from the set at once
# 23-Return a set of elements present in Set A or B, but not both
# 24-Check if two sets have any elements in common. If yes, display the common elements
# 25-Update set1 by adding items from set2, except common items
# 26-Turn every item of a list into its square
# 27-Iterate both lists simultaneously ( Any list we can make and run those together)
# 28-Remove empty strings from the list of strings
# 29 Print the sum of the current number and the previous number

# 14 sept Assignments

In [ ]:
# Print 1st 10 integers and their squares 
x = 0
while x<=10:
  print(f'the square of {x} is {x**2}')
  x = x+1

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [ ]:
string_1 = "P@#yn26at^&i5ve"
for i in string_1:
  
    print(i)

In [ ]:
########  Count all letters, digits, and special symbols from a given string
nstr = "P@#yn26at^&i5ve"
x = 0
y = 0
z = 0
for i in nstr:
    if i.isalpha():
      x += 1
    elif i.isdigit():
      y += 1
    else:
      z += 1
print(f'the total count of no.of letters is {x}')
print(f'the total count of no.of digits is {y}')
print(f'the total count of no.of special characters is {z}')

the total count of no.of letters is 8
the total count of no.of digits is 3
the total count of no.of special characters is 4

In [ ]:
# Find all occurrences of a substring in a given string by ignoring the case (# As, AS, as)
# Calculate the sum and average of the digits present in a string (str1 = "PYnative29@#8496")
# Write a program to count occurrences of all characters within a string ( Madhuri chawale )
# Reverse a given string ( can be anything )

In [ ]:
#1 Find all occurrences of a substring in a given string by ignoring the case (# As, AS, as)
dstring = "my name is jovani georgio but everbody calls me georgio"
dstring.split(' ')

['my',
 'name',
 'is',
 'jovani',
 'georgio',
 'but',
 'everbody',
 'calls',
 'me',
 'georgio']

In [ ]:
#2 Calculate the sum and average of the digits present in a string (str1 = "PYnative29@#8496")
str1 = "PYnative29@#8496"
sum = 0
count = 0
for i in str1:
  if i.isdigit() == True:
    sum = sum+int(i)
    count += 1 
print(f'sum of digits is {sum} and average is {sum/count}')

sum of digits is 38 and average is 6.333333333333333

In [ ]:
#3 Write a program to count occurrences of all characters within a string ( Madhuri chawale )
strr = 'durgesh rathod'
len(strr.split( ))

2

In [ ]:
#4 Reverse a given string ( can be anything )
dstring = 'my name is jovani georgio but everbody calls me georgio'
dstring.split()[::-1]

['georgio',
 'me',
 'calls',
 'everbody',
 'but',
 'georgio',
 'jovani',
 'is',
 'name',
 'my']

# 15 Sept

In [ ]:
# Write a Python function to check whether a number falls in a given range.
def inlist ( x,y,z ):
 if x in range(y,z):
   print('yes it is in range')
 else:
  print()

In [ ]:
inlist(55,1,10)

In [1]:
#Count capital and small letters in gven input string
def stringcount (strr):
  countupper = 0
  countlower = 0
  for i in strr:
    if i.isupper():
      countupper += 1
    else:
      countlower += 1
  return countupper,countlower

In [2]:
stringcount("MYNAMEIS durgesh")

(8, 8)

In [ ]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.( 2 ways )
def ulist (nlist):
  x = []
  for a in nlist:
    if a not in x:
      x.append(a)
  return x

In [ ]:
ulist([1,1,2,2,2,3,3,4,4,4,4,4,4,5,5,5,6,6,7,7,8,8,9,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write a Python function that checks whether a passed string is palindrome or not.
def pallendrome (strr):
  if strr == strr[::-1]:
    return 'yes it is pallendrome'
  else:
    return 'no it is not pallendrome'

In [ ]:
pallendrome('lmlll')

'no it is not pallendrome'